.small{
  width:500px;
  margin: 20px auto;
  color: green;
}
p{
  font-family : Arial;
  margin-top: 0.1em;
}
header{
  background-color: inherit;
  width: inherit;
  height: 250px;
  margin-bottom:1em;
}
/*h1.text{
  text-transform: capitalize;
  /*text-align: center;
  font-weight: bold;
  font-size: 40px;
  padding-left: 50%;
  line-height: 500%;
  font-stretch:ultra-expanded;
} */
.thePicture{
  background-color: red;
  border-radius: 50%;
  border: 1em solid white;
  height: 250px;
  width: 250px;
  margin: auto;
  float: right;
  vertical-align: text-top;
}
.float-right{
  float: right;
  width: auto;
}
.clearfix:float-right:float-left {
  overflow: auto;
  display:table;
  content: " ";
}
.float-left{
  float: left;
  width: auto;
  height: auto;
}
.clearf:floating-box{
  content: "";
  display: table;
  clear: both;
}
.center{
  text-align: center;
  margin-bottom: 250px;
}
.floating-box{
  display:inline-block;
  width: 10em;
  height: 10px
  padding:inherit;
  overflow: hidden;
}
ul{
  font-family: "Arial", sans-serif;
  font-size: 90%;
}
.floating-big-box{
  display:inline-block;
  width: auto;
  height: auto;
  border: 3px solid;
  border-color: red;
  overflow: hidden;
}
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
